#
# A virtual host using mix of IP-, name-, and port-based configuration
#

server {
   listen       80;
   listen	443;
   
   server_name  .acaciainternacional.com acaciabank.com.* www.acaciabank.com.*;
   #server_name _;
   
   ssl                  on;
   ssl_certificate      /etc/nginx/conf.d/ssl/acaciainternacional.com.chained.crt;
   ssl_certificate_key  /etc/nginx/conf.d/ssl/acaciainternacional.com.key;
   
   ssl_protocols SSLv3 TLSv1;
   ssl_ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS:!AES256;
   ssl_prefer_server_ciphers   on;
   ssl_session_cache shared:SSL:10m;
              
   access_log /var/log/nginx/localhost.access_log main;
   error_log /var/log/nginx/localhost.error_log info;
   proxy_temp_path /var/nginx/tmp/;
   error_page   500 502 503 504  /50x.html;
   
   return 301 https://www.acaciainternacional.com$request_uri;
}



